<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="DotNetZip" version="1.13.7" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.22315.12000" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.27" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="Tekla.Structures" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Catalogs" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Datatype" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Dialog" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Drawing" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Model" version="2022.0.10715" targetFramework="net472" />
  <package id="Tekla.Structures.Plugins" version="2022.0.10715" targetFramework="net472" />
</packages>